numpy==1.26.4
opencv-python==4.10.0.84
opencv-contrib-python==4.10.0.84
opencv-python-headless==4.10.0.84
Pillow==11.1.0
scipy==1.15.2
requests==2.34.2
trimesh==4.5.3
gradio==5.49.1
huggingface_hub>=0.25
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
